<div class="project-wrap" 
    [ngClass]="{active: turnOnProject}"
    [ngStyle]="{'transform': 'rotate(-'+ projectRotation +'deg)'}"
    (mouseenter)="turnOnProject = true" 
    (mouseleave)="turnOnProject = false; imageActive = false"
    (click)="openProject()"
    data-toggle="modal" 
    data-target="#projectShowModal">
    <div class="project-box">
        <div class="project-inner">
            <div class="project-inner2">
                <img 
                    src="{{picture}}" 
                    alt="" 
                    (click)="imageActive = true"
                    [ngClass]="{active: imageActive}">
                </div>
            </div>
        </div>
        <div class="project-description barlow">{{projectTitle}}</div>
</div>