.custom-wrap{
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 100vh;
    .sticky-top{
        z-index: 0;
    }
    .step-wrapper, .tools-wrapper{
        z-index: 0;
        max-height: calc(100vh - 250px);
        overflow-y: scroll;
    }
    .color-show{
        width: 80px; 
        height: 80px; 
        border-radius: 50%;
        margin: auto;
        box-shadow: 0px 0px 7px lightgrey;
    }
    #color-pick{
        border: none;
        display: inline-block;
        margin-top: 10px;
        width: 350px;
        cursor: pointer;
    }
    #grid-table, #demo-table{
        box-shadow: 0px 0px 7px lightgrey;
        border-top: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        margin: auto;
        height: 99vw;
        width: 99vw;
        background-color: black;
        @media screen and (min-width: 500px) {
            height: 400px;
            width: 400px;
        }
        @media screen and (min-width: 992px) {
            height: 600px;
            width: 600px;
        }
    }
    button{
        border: none;
        box-shadow: 0px 0px 7px lightgrey;
        border-radius: 5px;
        background-color: lightcyan;
        color: black;
        &.active{
            background-color: cyan;
        }
        &:focus{
            outline: none;
        }
    }
    .grid-row{
        width: 100%;
        display: inline-block;
        float: left;
    }
    .individual-cell{
        height: 100%;
        display: inline-block;
        overflow: hidden !important;
        position: relative;
        border-right: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }
    .back-slash{
        &:before{
            content: "";
            position: absolute;
            background-color: lightgrey;
            top: -25%;
            left: 50%;
            height: 150%;
            width: 1px;
            transform: rotate(-45deg);
        }
    }
    .forward-slash{
        &:before{
            content: "";
            position: absolute;
            background-color: lightgrey;
            top: -25%;
            left: 50%;
            height: 150%;
            width: 1px;
            transform: rotate(45deg);
        }
    }
    .horizontal-split{
        &:before{
            content: "";
            position: absolute;
            background-color: lightgrey;
            top: 0%;
            left: 50%;
            height: 100%;
            width: 1px;
            transform: rotate(90deg);
        }
    }
    .vertical-split{
        &:before{
            content: "";
            position: absolute;
            background-color: lightgrey;
            top: 0%;
            left: 50%;
            height: 100%;
            width: 1px;
        }
    }
}
#colorPickModal .color-show{
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 0px 7px lightgrey;
}