button{
  width: 120px;
  height: 40px;
  background: rgb(0, 177, 15);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
}
.slow-fade-in {
  opacity: 0;
  transition: opacity 0.5s;
  width: 120px;
  height: 40px;
  background: #c00;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 2rem;
  pointer-events: auto;
}

.slow-fade-in.fade-in-trigger {
  animation: fadeIn 25s forwards;
}

.slow-fade-in:not(.fade-in-trigger) {
  opacity: 1;
}

.fade-in-trigger {
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3 {
  color: #c00;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}
.img-fluid{
    width: 100%;
}
.speed-run-button{
    width: 100%;
    height: 80px;
}

.speed-runner{
    touch-action: manipulation;
}