<h3>Tools <span (click)="showTips=!showTips" title="hide/show tools">?</span></h3>
<div class="row tool-row">
    <div class="col-auto my-2">
        <button [ngClass]="colorOption == 'single' ? 'active' : ''" (click)="colorOption = 'single'" title="Color one cell"><span *ngIf="showTips">Color one cell</span> &#128853;</button>
    </div>
    <div class="col-auto my-2">
        <button [ngClass]="colorOption == 'row' ? 'active' : ''" (click)="colorOption = 'row'" title="Color row"><span *ngIf="showTips">Color row</span> &#8646;</button>
    </div>
    <div class="col-auto my-2">
        <button [ngClass]="colorOption == 'col' ? 'active' : ''" (click)="colorOption = 'col'" title="Color column"><span *ngIf="showTips">Color column</span> &#8645;</button>
    </div>
</div>
<div class="row tool-row">
    <div class="col-auto my-2">
        <button [ngClass]="colorOption == 'board' ? 'active' : ''" (click)="colorOption = 'board'" title="Color board"><span *ngIf="showTips">Color board</span> &#9638;</button>
    </div>
    <div class="col-auto my-2">
        <button (click)="shiftLeft()" title="Shift one column left"><span *ngIf="showTips">Shift one column left</span> &#8606;</button>
    </div>
    <div class="col-auto my-2">
        <button (click)="shiftRight()" title="Shift one column right"><span *ngIf="showTips">Shift one column right</span> &#8608;</button>
    </div>
</div>

<div class="row tool-row">
    <div class="col-auto my-2">
        <button (click)="clearBoard()" title="Clear board"><span *ngIf="showTips">Clear board</span> &#216;</button>
    </div>
    <div class="col-auto my-2">
        <button (click)="shiftUp()" title="Shift one column up"><span *ngIf="showTips">Shift one column up</span> &#8593;</button>
    </div>
    <div class="col-auto my-2">
        <button (click)="shiftDown()" title="Shift one column down"><span *ngIf="showTips">Shift one column down</span> &#8595;</button>
    </div>
</div>

<div class="row">
    <div class="col">

        <h6>Pick your color:</h6>
        <div data-toggle="modal" data-target="#colorPickModal" class="color-show" [style.background]="customColor"></div>

</div>
</div>

 <!-- <div class="row">
    <div class="col text-center">

        <div class="color-show" [style.background]="customColor"></div>
        <color-hue-picker 
            id="color-pick"
            (onChange)="colorChanged($event)" 
            (onChangeComplete)="colorChanged($event)" 
            [color]="customColor">
        </color-hue-picker>
        
        <color-chrome 
            id="color-pick"
            (onChange)="colorChanged($event)" 
            (onChangeComplete)="colorChanged($event)" 
            [color]="customColor">
        </color-chrome>

        <color-slider
            id="color-pick" 
            (onChange)="colorChanged($event)" 
            (onChangeComplete)="colorChanged($event)" 
            [color]="customColor">
        </color-slider>

        <input id="color-pick" (colorPickerChange)="customColor=$event; colorChanged()" [(colorPicker)]="customColor" [style.background]="customColor"/>
    </div>
</div> -->

<h5 class="mt-5" *ngIf="colorArray[0]" >Quick Colors:</h5>
<div class="row">
    <div class="col-auto">
        <div class="quick-color" 
            *ngFor="let color of colorArray" 
            [ngStyle]="{'background-color': color }"
            (click)="quickColorClick(color)">
        </div>
    </div>
</div>






<!-- Other Projects Modal -->
<!-- <div class="modal fade" id="savedDesignsModal" tabindex="-1" role="dialog" aria-labelledby="savedDesignsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="savedDesignsModalLabel">Edit Pattern</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input placeholder="Name your Creation" [(ngModel)]="patternName" type="text">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="saveDesign()" data-dismiss="modal">Save changes</button>
        </div>
        </div>
    </div>
</div> -->