<h3>Tools <span (click)="showTips=!showTips" title="hide/show tools">?</span></h3>
<div class="row tool-row">
    <div class="col-auto my-2">
        <button [ngClass]="colorOption == 'single' ? 'active' : ''" (click)="colorOption = 'single'"><span *ngIf="showTips">color one cell</span> &#128853;</button>
    </div>
    <div class="col-auto my-2">
        <button [ngClass]="colorOption == 'row' ? 'active' : ''" (click)="colorOption = 'row'"><span *ngIf="showTips">color row</span> &#8646;</button>
    </div>
    <div class="col-auto my-2">
        <button [ngClass]="colorOption == 'col' ? 'active' : ''" (click)="colorOption = 'col'"><span *ngIf="showTips">color column</span> &#8645;</button>
    </div>
</div>
<div class="row tool-row">
    <div class="col-auto my-2">
        <button [ngClass]="colorOption == 'board' ? 'active' : ''" (click)="colorOption = 'board'"><span *ngIf="showTips">color board</span> &#9638;</button>
    </div>
    <div class="col-auto my-2">
        <button (click)="shiftLeft()"><span *ngIf="showTips">Shift one column left</span> &#8606;</button>
    </div>
    <div class="col-auto my-2">
        <button (click)="shiftRight()"><span *ngIf="showTips">Shift one column right</span> &#8608;</button>
    </div>
</div>


<h5 class="mt-5" *ngIf="colorArray[0]" >Quick Colors:</h5>
<div class="row">
    <div class="col-auto">
        <div class="quick-color" 
            *ngFor="let color of colorArray" 
            [ngStyle]="{'background-color': color }"
            (click)="quickColorClick(color)">
        </div>
    </div>
</div>








<!-- Other Projects Modal -->
<!-- <div class="modal fade" id="savedDesignsModal" tabindex="-1" role="dialog" aria-labelledby="savedDesignsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="savedDesignsModalLabel">Edit Pattern</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input placeholder="Name your Creation" [(ngModel)]="patternName" type="text">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="saveDesign()" data-dismiss="modal">Save changes</button>
        </div>
        </div>
    </div>
</div> -->