.js-fun-wrap{
    padding-top: 80px;
    

    //slider
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(255, 68, 68);;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: rgb(68, 255, 68);
      &::before{
        background-color: white;
      }
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }



    //Day 1


    .key {
      border: .4rem solid black;
      border-radius: .5rem;
      margin: 1rem;
      font-size: 1.5rem;
      padding: 1rem .5rem;
      transition: all .07s ease;
      width: 10rem;
      text-align: center;
      color: white;
      background: rgba(0,0,0,0.4);
      text-shadow: 0 0 .5rem black;
    }
    
    .playing {
      transform: scale(1.1);
      border-color: #ffc600;
      box-shadow: 0 0 1rem #ffc600;
    }
    
    kbd {
      display: block;
      font-size: 4rem;
    }
    
    .sound {
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      color: #ffc600;
    }

    // Day 2
    .clock {
      width: 30rem;
      height: 30rem;
      border: 20px solid white;
      border-radius: 50%;
      margin: 50px auto;
      position: relative;
      padding: 2rem;
      box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
    }

    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }

    .hand {
      width: 50%;
      height: 6px;
      background: black;
      position: absolute;
      top: 50%;
      transform-origin: 100%;
    }
    .hour-hand{
      width: 40%;
      left: 10%;
    }


    //Day 3

    :root {
      --base: #ffc600;
      --spacing: 10px;
      --blur: 10px;
    }
    .controls {
      margin-bottom: 50px;
      input {
        width: 100px;
      }
  
      img {
        padding: var(--spacing);
        background: var(--base);
        filter: blur(var(--blur));
      }
  
    }


    //Day 6 
    .day6{
      
      input {
        width: 100%;
        padding: 20px;
      }
      
      .search-form {
        max-width: 400px;
        margin: 50px auto;
      }
      
      input.search {
        margin: 0;
        text-align: center;
        outline: 0;
        border: 10px solid #F7F7F7;
        width: 120%;
        left: -10%;
        position: relative;
        top: 10px;
        z-index: 2;
        border-radius: 5px;
        font-size: 40px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
      }
      
      .suggestions {
        margin: 0;
        padding: 0;
        position: relative;
        max-height: 400px;
        overflow: auto;
        /*perspective: 20px;*/
      }
      
      .suggestions li {
        background: white;
        list-style: none;
        border-bottom: 1px solid #D8D8D8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
        margin: 0;
        padding: 20px;
        transition: background 0.2s;
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
      }
      
      .suggestions li:nth-child(even) {
        transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
        background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
      }
      
      .suggestions li:nth-child(odd) {
        transform: perspective(100px) rotateX(-3deg) translateY(3px);
        background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
      }
      
      span.population {
        font-size: 15px;
      }
      
      .hl {
        background: #ffc600;
      }
    }



    //DAY8
    .day10{

      .inbox {
        max-width: 400px;
        margin: 50px auto;
        background: white;
        border-radius: 5px;
        box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
      }
  
      .item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F1F1F1;
      }
  
      .item:last-child {
        border-bottom: 0;
      }
  
      input:checked + p {
        background: #F9F9F9;
        text-decoration: line-through;
      }
  
      input[type="checkbox"] {
        margin: 20px;
      }
  
      p {
        margin: 0;
        padding: 20px;
        transition: background 0.2s;
        flex: 1;
        font-family:'helvetica neue';
        font-size: 20px;
        font-weight: 200;
        border-left: 1px solid #D1E2FF;
      }
    }

    .day11{

      .player {
        max-width: 750px;
        border: 5px solid rgba(0,0,0,0.2);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        position: relative;
        font-size: 0;
        overflow: hidden;
      }

      /* This css is only applied when fullscreen is active. */
      .player:fullscreen {
        max-width: none;
        width: 100%;
      }

      .player:-webkit-full-screen {
        max-width: none;
        width: 100%;
      }

      .player__video {
        width: 100%;
      }

      .player__button {
        background: none;
        border: 0;
        line-height: 1;
        color: white;
        text-align: center;
        outline: 0;
        padding: 0;
        font-size: 12px;
        cursor: pointer;
        max-width: 50px;
      }

      .player__button:focus {
        border-color: #ffc600;
      }

      .player__slider {
        width: 10px;
        height: 30px;
      }

      .player__controls {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(100%) translateY(-5px);
        transition: all .3s;
        flex-wrap: wrap;
        background: rgba(0,0,0,0.1);
      }

      .player:hover .player__controls {
        transform: translateY(0);
      }

      .player:hover .progress {
        height: 15px;
      }

      .player__controls > * {
        flex: 1;
      }

      .progress {
        flex: 10;
        position: relative;
        display: flex;
        flex-basis: 100%;
        height: 5px;
        transition: height 0.3s;
        background: rgba(0,0,0,0.5);
        cursor: ew-resize;
      }

      .progress__filled {
        width: 50%;
        background: #ffc600;
        flex: 0;
        flex-basis: 0%;
      }

      /* unholy css to style input type="range" */

      input[type=range] {
        -webkit-appearance: none;
        background: transparent;
        width: 100%;
        margin: 0 5px;
      }

      input[type=range]:focus {
        outline: none;
      }

      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        background: rgba(255,255,255,0.8);
        border-radius: 1.3px;
        border: 0.2px solid rgba(1, 1, 1, 0);
      }

      input[type=range]::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: #ffc600;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.5px;
        box-shadow:0 0 2px rgba(0,0,0,0.2);
      }

      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #bada55;
      }

      input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        background: #ffffff;
        border-radius: 1.3px;
        border: 0.2px solid rgba(1, 1, 1, 0);
      }

      input[type=range]::-moz-range-thumb {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: #ffc600;
        cursor: pointer;
      }

    }

    .day16{
      div{
        height: 300px;
      }
    }

    .day19{
      .photobooth {
        background: white;
        max-width: 150rem;
        margin: 2rem auto;
        border-radius: 2px;
      }
      
      /*clearfix*/
      .photobooth:after {
        content: '';
        display: block;
        clear: both;
      }
      
      .photo {
        width: 100%;
        float: left;
      }
      
      .player {
        position: absolute;
        top: 20px;
        right: 20px;
        width:200px;
      }
      
      /*
        Strip!
      */
      
      .strip {
        padding: 2rem;
      }
      
      .strip img {
        width: 100px;
        overflow-x: scroll;
        padding: 0.8rem 0.8rem 2.5rem 0.8rem;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        background: white;
      }
      
      .strip a:nth-child(5n+1) img { transform: rotate(10deg); }
      .strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
      .strip a:nth-child(5n+3) img { transform: rotate(8deg); }
      .strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
      .strip a:nth-child(5n+5) img { transform: rotate(12deg); }
      
    }

}
