<div class="home-wrapper color0-bg">
    <div #homeCarousel 
        id="homeCarousel" 
        class="carousel slide" 
        data-ride="carousel">
        <div class="intro-animation color5">
            <h1 class="stephen raleway">Stephen Corry</h1>
            <app-intro-animation 
                [text]="'Web'" 
                [delay]="300" 
                [delete]="true" 
                [deleteDelay]="1800">
            </app-intro-animation>
            <app-intro-animation 
                [text]="'App'" 
                [delay]="2600"
                [delete]="true" 
                [deleteDelay]="1200">
            </app-intro-animation>
            <app-intro-animation 
                [text]="'Software'" 
                [delay]="4200"
                [delete]="true" 
                [deleteDelay]="1800">
            </app-intro-animation>
            <div class="ml-2 d-inline-block"></div>
            <app-intro-animation 
                [text]="'Developer'" 
                [delay]="600">
            </app-intro-animation>
        </div>
        <div class="carousel-inner">
          <!-- <div class="carousel-item active">
            <div class="inner-background one"></div>
          </div>
          <div class="carousel-item">
            <div class="inner-background two"></div>
          </div> -->
          <div class="carousel-item active">
            <div class="inner-background three"></div>
          </div>
          <!-- <div class="carousel-item">
            <div class="inner-background four"></div>
          </div> -->
        </div>
    </div>

    <app-nacho-header></app-nacho-header>
    <div class="projects-container">
        
        <h1 class="text-center my-5">My Projects</h1>
    
        <div class="container projects-container mb-5" 
            [ngStyle]="{'transform': 'rotate('+ projectRotation +'deg)'}"
            #projectsContainer>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <app-project-show 
                        [picture]="'./assets/images/projects/enrollPro.png'"
                        [projectTitle]="'EnrollPro'"
                        [projectDescription]="'Contact management software for Doterra sellers to keep track of communitation with customers. Built in Angular 4.'"
                        [projectRotation]="projectRotation"
                        [projectURL]="'https://enroll.pro'"
                        (projectClick)="projectClicked($event)">
                    </app-project-show>
                </div>
                <div class="col-auto">
                    <app-project-show 
                        [picture]="'./assets/images/projects/enrollProMobile.jpeg'"
                        [projectTitle]="'EnrollPro (App)'"
                        [projectDescription]="'Contact management software for Doterra sellers to keep track of communitation with customers. Built in Ionic 3.'"
                        [projectRotation]="projectRotation"
                        [projectURL]="'https://enroll.pro'"
                        (projectClick)="projectClicked($event)">
                    </app-project-show>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <app-project-show 
                        [picture]="'./assets/images/projects/couposts.png'"
                        [projectTitle]="'Couposts'"
                        [projectDescription]="'A website built to connect businesses and instagram users to post marketing images for coupons.'"
                        [projectRotation]="projectRotation"
                        [projectURL]="'https://coupost-7fc1b.web.app/'"
                        (projectClick)="projectClicked($event)">
                    </app-project-show>
                </div>
                <div class="col-auto">
                    <app-project-show 
                        [picture]="'./assets/images/projects/hackdays.png'"
                        [projectTitle]="'Code Sprint'"
                        [projectDescription]="'A side scroller game built with Phaser 3'"
                        [projectRotation]="projectRotation"
                        [projectURL]="'https://hackdaysgame.firebaseapp.com/'"
                        (projectClick)="projectClicked($event)">
                    </app-project-show>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <app-project-show 
                        [picture]="'./assets/images/projects/roomingboard.png'"
                        [projectTitle]="'Rooming Board'"
                        [projectDescription]="'A website built to help college students buy and sell housing contracts.'"
                        [projectRotation]="projectRotation"
                        [projectURL]="rooming"
                        (projectClick)="projectClicked($event)">
                    </app-project-show>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <app-project-show 
                        [picture]="'./assets/images/projects/mouth3.png'"
                        [projectTitle]="'Dirty Mouth Co'"
                        [projectDescription]="'Personal website I made for my girlfriend to show off and sell her art.'"
                        [projectRotation]="projectRotation"
                        [projectURL]="'https://dirty-mouth.web.app/'"
                        (projectClick)="projectClicked($event)">
                    </app-project-show>
                </div>
                <div class="col-auto">
                    <app-project-show 
                        [picture]="'./assets/images/projects/grid.png'"
                        [projectTitle]="'Custom Grid'"
                        [projectDescription]="'Create your own pixel art!'"
                        [projectRotation]="projectRotation"
                        [projectURL]="'/custom-grid'"
                        (projectClick)="projectClicked($event)">
                    </app-project-show>
                </div>
                <div class="col-auto d-lg-none">
                    <app-project-show 
                        [picture]="'./assets/images/projects/roomingboard.png'"
                        [projectTitle]="'Rooming Board'"
                        [projectDescription]="'A website built to help college students buy and sell housing contracts.'"
                        [projectRotation]="projectRotation"
                        [projectURL]="rooming"
                        (projectClick)="projectClicked($event)">
                    </app-project-show>
                </div>
            </div>

        </div>
    </div>

    <!-- <app-home-carousel></app-home-carousel> -->

    <div class="container">
      <div class="jumbotron color2-bg">
          <h1 class="text-center">Contact Me</h1>
          <h4 class="text-center"><a href="mailto: stevemcorry@gmail.com">stevemcorry@gmail.com</a></h4>
      </div>
    </div>

    <!-- <app-js-collision></app-js-collision> -->
    
    <!-- <a id="to-top" class="to-top avenir-medium blue"></a> -->

</div>



<!-- Project Modal -->
<div class="modal fade" id="projectShowModal" tabindex="-1" role="dialog" aria-labelledby="projectShowModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content color5">
            <button type="button" class="color5 custom-close" data-dismiss="modal" aria-label="Close">
                <span data-dismiss="modal" aria-label="Close">&times;</span>
            </button>
            <div class="modal-body row align-items-center">
                <div class="col-sm pl-2">
                    <img class="modal-project-image" src="{{projectInfo.picture}}" alt="{{projectInfo.projectTitle}}">
                </div>
                <div class="col-sm">
                    <h2 class="modal-title barlow" id="projectShowModalLabel">{{projectInfo.projectTitle}}</h2>
                    <div class="raleway mt-2 mb-4">{{projectInfo.projectDescription}}</div>
                    <a [href]="projectInfo.url" target="_blank" class="color5 main-btn barlow">Visit Site</a>
                </div>
            </div>
        </div>
    </div>
</div>