<div class="home-wrapper">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <div class="intro-animation">
            <h1 class="stephen raleway">Stephen Corry</h1>
            <app-intro-animation 
                [text]="'Web'" 
                [delay]="300" 
                [delete]="true" 
                [deleteDelay]="1800">
            </app-intro-animation>
            <app-intro-animation 
                [text]="'App'" 
                [delay]="2600"
                [delete]="true" 
                [deleteDelay]="1200">
            </app-intro-animation>
            <app-intro-animation 
                [text]="'Software'" 
                [delay]="4200"
                [delete]="true" 
                [deleteDelay]="1800">
            </app-intro-animation>
            <div class="ml-2 d-inline-block"></div>
            <app-intro-animation 
                [text]="'Developer'" 
                [delay]="600">
            </app-intro-animation>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="inner-background one"></div>
          </div>
          <!-- <div class="carousel-item">
            <div class="inner-background two"></div>
          </div> -->
        </div>
    </div>

    <h1 class="text-center my-5">My Projects</h1>
    
    <div class="container projects-container mb-5" 
        [ngStyle]="{'transform': 'rotate('+ projectRotation +'deg)'}"
        #projectsContainer>
        <div class="row justify-content-center">
            <div class="col-auto">
                <app-project-show 
                    [picture]="'./assets/images/home-img.jpg'"
                    [projectTitle]="'EnrollPro'"
                    [projectDescription]="'Contact management software for Doterra sellers to keep track of communitation with customers. Built in Angular 4.'"
                    [projectRotation]="projectRotation"
                    (projectClick)="projectClicked($event)">
                </app-project-show>
            </div>
            <div class="col-auto">
                <app-project-show 
                    [picture]="'./assets/images/bikers.jpg'"
                    [projectTitle]="'EnrollPro (App)'"
                    [projectDescription]="'Contact management software for Doterra sellers to keep track of communitation with customers. Built in Ionic 3.'"
                    [projectRotation]="projectRotation"
                    (projectClick)="projectClicked($event)">
                </app-project-show>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <app-project-show 
                    [picture]="'./assets/images/mario-small.png'"
                    [projectTitle]="'Couposts'"
                    [projectDescription]=""
                    [projectRotation]="projectRotation"
                    (projectClick)="projectClicked($event)">
                </app-project-show>
            </div>
            <div class="col-auto">
                <app-project-show 
                    [picture]="'./assets/images/surfers.jpg'"
                    [projectTitle]="'Code Sprint'"
                    [projectDescription]=""
                    [projectRotation]="projectRotation"
                    (projectClick)="projectClicked($event)">
                </app-project-show>
            </div>
            <div class="col-auto d-none d-lg-block">
                <app-project-show 
                    [picture]="'./assets/images/dessert.jpg'"
                    [projectTitle]="'Pixelizer'"
                    [projectDescription]=""
                    [projectRotation]="projectRotation"
                    (projectClick)="projectClicked($event)">
                </app-project-show>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <app-project-show 
                    [picture]="'./assets/images/home-img.jpg'"
                    [projectTitle]="'Foto Pro'"
                    [projectDescription]=""
                    [projectRotation]="projectRotation"
                    (projectClick)="projectClicked($event)">
                </app-project-show>
            </div>
            <div class="col-auto">
                <app-project-show 
                    [picture]="'./assets/images/bikers.jpg'"
                    [projectTitle]="'Custom Grid'"
                    [projectDescription]=""
                    [projectRotation]="projectRotation"
                    (projectClick)="projectClicked($event)">
                </app-project-show>
            </div>
            <div class="col-auto d-lg-none">
                <app-project-show 
                    [picture]="'./assets/images/dessert.jpg'"
                    [projectTitle]="'Pixelizer'"
                    [projectDescription]=""
                    [projectRotation]="projectRotation"
                    (projectClick)="projectClicked($event)">
                </app-project-show>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="jumbotron">
          <h1 class="text-center">Contact Me</h1>
          <h4 class="text-center">stevemcorry@gmail.com</h4>
      </div>
    </div>

    <!-- <app-js-collision></app-js-collision> -->
    
    <!-- <a id="to-top" class="to-top avenir-medium blue"></a> -->

</div>



<!-- Project Modal -->
<div class="modal fade" id="projectShowModal" tabindex="-1" role="dialog" aria-labelledby="projectShowModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="projectShowModalLabel">{{projectInfo.projectTitle}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <img class="modal-project-image" src="{{projectInfo.picture}}" alt="{{projectInfo.projectTitle}}">
            <div>{{projectInfo.projectDescription}}</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="visitSite()" data-dismiss="modal">Visit Site</button>
        </div>
        </div>
    </div>
</div>