.plant-wrap{
    padding-top: 70px;
    .plant-box{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 100%;
        height: 260px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px darkgray;
        @media screen and (min-width: 768px) {
            width: 230px;
            height: 240px;
        }
        .last{
            font-size: 12px;
            display: inline-block;
            padding-left: 8px;
        }
        .watered-icon{
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            margin: auto;
            display: inline-block;
        }
        .product-image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
            object-position: bottom;
        }
        .bottom-bar{
            position: absolute;
            padding-left: 15px;
            padding-right: 15px;
            bottom: -40px;
            width: 100%;
            background: linear-gradient(to top left, #deeeff, #ffffff);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 3px 3px 5px darkgray;
        }
        &:hover{
            box-shadow: 1px 1px 3px darkgray;
            .bottom-bar{
                box-shadow: 1px 1px 3px darkgray;
            }
        }
    }
}
.product-image{
    height: 120px;
    width: 120px;
    object-fit: contain;
}
.water-drop{
    background-image: url('/assets/images/plants/water.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: auto;
    cursor: pointer;
}
.uploading{
    transform: rotate(10deg);
}
.watered-icon{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: auto;
}
.watered{
    background-image: url('/assets/images/plants/happy.png');
}
.almost{
    background-image: url('/assets/images/plants/almost.png');
}
.help{
    background-image: url('/assets/images/plants/help.png');
}

#plantAdd, #plantEdit{
    .modal-dialog{
        margin: auto;
        margin-top: min(calc(50vh - 250px), 200px);
    }
    .modal-content{
        border-radius: 0;
    }
    .modal-body{
        padding: .5rem 1rem;
        flex-direction: column;
    }
    .custom-close{
        display: inline-block;
        position: absolute;
        top: 3px;
        right: 8px;
        width: 23px;
        height: 23px;
        background-color: white;
        border: none;
        font-size: 35px;
        line-height: 17px;
        z-index: 1;
        &:focus{
            outline: none;
        }
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: #007bff;
        border-radius: 50%;
        border: 5px solid #007bff;
    }
}