.plant-parallax{
    background-image: url('../../../assets/images/plants/plants_bg.png');
    background-size: contain;
    background-attachment: fixed;
    background-position: 0px 0px;
    position: absolute;
    min-height: 100vh;
    // height: 100vh;
    height: calc(100% + 70px);
    width: 100%;
    top: -0px;
    left: 0;
    opacity: 0.3;
}
.plant-wrap{
    perspective: 1px;
    transform-style: preserve-3d;
    position: relative;
    padding-top: 70px;
    // overflow-x: hidden;
    // overflow-y: scroll;
    .plant-box{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 100%;
        height: 260px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px #96d7bc;
        @media screen and (min-width: 768px) {
            width: 230px;
            height: 240px;
        }
        .watered-icon{
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            margin: auto;
            display: inline-block;
        }
        .product-image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
            object-position: bottom;
        }
        .bottom-bar{
            position: absolute;
            padding-left: 15px;
            padding-right: 15px;
            bottom: -40px;
            width: 100%;
            // background: linear-gradient(to top left, #deeeff, #ffffff);
            // background: linear-gradient(to top left, #8bffcf, #ffffff);
            background-color: #9a6442;
            color: #efefef;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 3px 3px 5px #96d7bc;
        }
        &:hover{
            box-shadow: 1px 1px 3px darkgray;
            .bottom-bar{
                box-shadow: 1px 1px 3px darkgray;
            }
        }
    }
}

.btn-greeny{
    background:  #8bffcf;
    box-shadow: 3px 3px 5px #96d7bc;
}
.btn-browny{
    background:  #9a6442;
    box-shadow: 3px 3px 5px #a06c4b;
    color: white;
}
.cancel-btn{
    background:  lightgrey;
    box-shadow: 3px 3px 5px #96d7bc;
}
.product-image{
    height: 120px;
    width: 120px;
    object-fit: contain;
}
.water-drop{
    background-image: url('/assets/images/plants/water.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: auto;
    cursor: pointer;
}
.uploading{
    transform: rotate(10deg);
}
.last{
    font-size: 12px;
    display: inline-block;
    padding-left: 8px;
}
.watered-icon, .sun{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: auto;
}
.fresh{
    background-image: url('/assets/images/plants/fresh.png');
}
.watered{
    background-image: url('/assets/images/plants/happy.png');
}
.almost{
    background-image: url('/assets/images/plants/almost.png');
}
.help{
    background-image: url('/assets/images/plants/help.png');
}
.sun{
    background-image: url('/assets/images/plants/full-sun.png');
}
.full-sun{
    background-image: url('/assets/images/plants/full-sun.png');
}
.part-sun{
    background-image: url('/assets/images/plants/partial-sun.png');
}
.part-shade{
    background-image: url('/assets/images/plants/partial-shade.png');
}
.full-shade{
    background-image: url('/assets/images/plants/full-shade.png');
}
.activeSun{
    background-color: #8bffcf;
}
.plant-care{
    padding: 12px;
    border: none;
    border-radius: 8px;
    min-height: 100px;
    width: 100%;
}
#plantAdd, #plantEdit, #massWater{
    .modal-dialog{
        margin: auto;
        margin-top: 30px;
    }
    .modal-content{
        max-width: 100vw;
        border-radius: 20px;
    }
    .modal-body{
        background-color: #F7FBE7;
        border-radius: 20px;
        padding: 20px;
        flex-direction: column;
    }
    .custom-close{
        display: inline-block;
        position: absolute;
        top: 16px;
        right: 20px;
        width: 23px;
        height: 23px;
        background-color: transparent;
        border: none;
        font-size: 35px;
        line-height: 17px;
        z-index: 1;
        &:focus{
            outline: none;
        }
    }
    .modal-plant-img{
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    .carousel-indicators button{
        border: none;
        background-color: beige;
        height: 8px;
        width: 8px;
        padding: 5px;
        margin: 2px;
        border-radius: 10px;
        &.active{
            background-color: #96d7bc;
        }
    }
    .carousel-item .visually-hidden{
        display: none;
    }
    .carousel-control-next, .carousel-control-prev{
        background-color: transparent;
        border: none;
        .visually-hidden{
            display: none;
        }
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: #96d7bc;
        border-radius: 50%;
        border: 5px solid #96d7bc;
    }
}