h2 {
  color: #0a0;
  font-size: 2.2rem;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  color: #c00;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}
button{
  width: 100%;
  height: 40px;
  background: rgb(0, 177, 15);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
  margin: 8px;
}
.img-fluid{
    width: 100%;
}
