//global stuff

body {
    // font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;
}

//fonts

// font-family: 'Raleway', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;

.raleway{
    font-family: 'Raleway', sans-serif;
}
.barlow{
    font-family: 'Barlow Condensed', sans-serif;
}


//colors


