
//colors
// $baby-powder: #fcfcfcff;
// $brink-pink: #f7567cff;
// $cornsilk: #fffae3ff;
// $middle-blue-green: #99e1d9ff;
// $independence: #5d576bff;

$very-light-gray: #ebebeb;
$light-gray: #d1d1d1;
$gainsboro: #dbdbdb;
$light-sky-blue: #85c7f2;
$granite-gray: #636363;
$davys-grey: #4c4c4c;
$white: white;

$color0 : $very-light-gray;
$color1 : $light-gray;
$color2 : $gainsboro;
$color3 : $light-sky-blue;
$color4 : $granite-gray;
$color5 : $davys-grey;

$neon-orange: #ff6500;
$neon-pink: #FF0091;
$neon-blue: #0218FF;
$neon-green: #93FF03;

//global stuff

body {
    // font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: $color5;
}

//fonts

// font-family: 'Raleway', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;

.raleway{
    font-family: 'Raleway', sans-serif;
}
.barlow{
    font-family: 'Barlow Condensed', sans-serif;
}

.white{
    color: $white;
}
.color0{
    color: $color0;
}
.color1{
    color: $color1;
}
.color2{
    color: $color2;
}
.color3{
    color: $color3;
}
.color4{
    color: $color4;
}
.color5{
    color: $color5;
}

.neon-orange{
    color: $neon-orange;
}
.neon-pink{
    color: $neon-pink;
}
.neon-blue{
    color: $neon-blue;
}
.neon-green{
    color: $neon-green
}

.neon-orange-hover:hover{
    color: $neon-orange;
}
.neon-pink-hover:hover{
    color: $neon-pink;
}
.neon-blue-hover:hover{
    color: $neon-blue;
}
.neon-green-hover:hover{
    color: $neon-green
}

.color0-bg{
    background-color: $color0;
}
.color1-bg{
    background-color: $color1;
}
.color2-bg{
    background-color: $color2;
}
.color3-bg{
    background-color: $color3;
}
.color4-bg{
    background-color: $color4;
}
.color5-bg{
    background-color: $color5;
}

.neon-orange-bg{
    background-color: $neon-orange;
}
.neon-pink-bg{
    background-color: $neon-pink;
}
.neon-blue-bg{
    background-color: $neon-blue;
}
.neon-green-bg{
    background-color: $neon-green
}


//component library
.main-btn{
    border: 2px solid $color5;
    background: transparent;
    padding: 4px 35px;
    transition: all .3s ease;
    font-size: 20px;
    &:hover{
        background-color: $color0;
    }
    &:focus{
        outline: none;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@for $i from 0 through 25 {
    .mt-#{$i} { margin-top: 8px * $i !important; }
    .mb-#{$i} { margin-bottom: 8px * $i !important; } 
    .ms-#{$i} { margin-left: 8px * $i !important; } 
    .me-#{$i} { margin-right: 8px * $i !important; } 


    .my-#{$i} { 
        margin-top: 8px * $i !important; 
        margin-bottom: 8px * $i !important; 
    } 
    .mx-#{$i} { 
        margin-left: 8px * $i !important; 
        margin-right: 8px * $i !important; 
    
    }
    .pt-#{$i} { padding-top: 8px * $i !important; } 
    .pb-#{$i} { padding-bottom: 8px * $i !important; } 
    .ps-#{$i} { padding-left: 8px * $i !important; } 
    .pe-#{$i} { padding-right: 8px * $i !important; } 
    .py-#{$i} { 
        padding-top: 8px * $i !important; 
        padding-bottom: 8px * $i !important; 
    } 
    .px-#{$i} { 
        padding-left: 8px * $i !important; 
        padding-right: 8px * $i !important; 
    }

    @media screen and (min-width: 768px) {    
        .mt-md-#{$i} { margin-top: 8px * $i !important; }
        .mb-md-#{$i} { margin-bottom: 8px * $i !important; } 
        .ms-md-#{$i} { margin-left: 8px * $i !important; } 
        .me-md-#{$i} { margin-right: 8px * $i !important; } 
    }
}

@for $i from 0 through 25 {
    @media screen and (min-width: 992px) {    
        .mt-lg-#{$i} { margin-top: 8px * $i !important; }
        .mb-lg-#{$i} { margin-bottom: 8px * $i !important; } 
        .ms-lg-#{$i} { margin-left: 8px * $i !important; } 
        .me-lg-#{$i} { margin-right: 8px * $i !important; } 

        .mtm-#{$i} { margin-top: -8px * $i !important; }
        .mbm-#{$i} { margin-bottom: -8px * $i !important; } 
        .msm-#{$i} { margin-left: -8px * $i !important; } 
        .mem-#{$i} { margin-right: -8px * $i !important; } 
    }
}
@for $i from 0 through 25 {
    @media screen and (min-width: 1200px) {    
        .mt-xl-#{$i} { margin-top: 8px * $i !important; }
        .mb-xl-#{$i} { margin-bottom: 8px * $i !important; } 
        .ms-xl-#{$i} { margin-left: 8px * $i !important; } 
        .me-xl-#{$i} { margin-right: 8px * $i !important; } 
    }
}