header{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    padding: 10px;
    height: 50px;
    transition: all .3s ease;
    a{
        color: #4c4c4c;
    }
}
#header.active{
    background-color: white;
    box-shadow: 0px 0px 5px #d1d1d1;
    height: 30px;
}