<header id="header">
    <div class="container">
        <div class="row">
            <div class="col text-center"><a href="/">Home</a></div>
            <div class="col text-center"><a href="/pixelize">Pixelize</a></div>
            <div class="col text-center"><a href="/custom-grid">Grid</a></div>
            <div class="col text-center"><a href="/messaging">Messaging</a></div>
            <!-- <div class="col text-center"><a href="/bored">Bored</a></div> -->
        </div>
    </div>
</header>
