.alerty{
    position: fixed;
    left: -5000%;
    bottom: 50px;
    width: 200px;
    background-color: white;
    box-shadow: 3px 2px 8px grey;
    &.alert{
        animation: .5s ease forwards hideAlert;
    }
}


@keyframes showAlert{

}
@keyframes hideAlert{
    0%{
        left: -200%;
    }
    100%{
        left: 0%;
    }
}